footer{
	background-color:$grey;
	
	//padding:0 15px;

	.footer-interaction{
		padding: 2em 1.5em;
	}

	ul{
		list-style-type: none;
		li{
			list-style-type: none;
			a{
				color:$dark_gray;
				font-size:1.2em;
				text-transform:uppercase;
			}
		}
	}

	.nav-title{
		font-size:1.2em;
		text-transform:uppercase;
		color:$title_black;
		@include brandon-black;
		margin:0;
		margin-bottom:1em;
	}

	.footer-navs{
		padding:2em 1.5em;
	}

	.tagline{
		background-color:$periwinkle;
		padding:1em 1.5em;

		p{
			padding:0;
			margin:0;
			@include brandon-black;
			text-transform:uppercase;
		}

		.signature{
			text-align:right;

		}

		@media only screen and ($bp-smaller-than-tablet){
			.signature,
			.info{
				text-align:center;
			}
		}
	}
	#eventMenuLeft,
	#eventMenuRight{
		display:inline-block;
		margin-right:4em;
	}
}

.sub-title{
	font-size:1.2em;
	text-transform:uppercase;
	color:$title_black;
	@include brandon-black;
}