footer{
	background-color:$grey;
	
	//padding:0 15px;

	.footer-interaction{
		padding: 2em 1.5em 2em 1.5em;

		@media only screen and ($bp-smaller-than-mobile){
			text-align:center;
		}
	}

	ul{
		list-style-type: none;
		li{
			list-style-type: none;
			a{
				color:$dark_gray;
				font-size:1.2em;
				text-transform:uppercase;
			}
		}
	}

	.nav-title{
		font-size:1.2em;
		text-transform:uppercase;
		color:$title_black;
		@include brandon-black;
		margin:0;
		margin-bottom:1em;
	}

	.footer-navs{
		padding:2em 1.5em;
	}

	.tagline{
		background-color:$periwinkle;
		padding:1em 1.5em;

		p{
			padding:0;
			margin:0;
			@include brandon-black;
			text-transform:uppercase;
		}

		a{
			color:$white;
			&:hover,
			&:focus,
			&:active{
				text-decoration:underline;
			}
		}

		.signature{
			text-align:right;

		}

		@media only screen and ($bp-smaller-than-tablet){
			.signature,
			.info{
				text-align:center;
			}
		}
	}
	#eventMenuLeft,
	#eventMenuRight{
		display:inline-block;
		margin-right:4em;
		verical-align:top;
	}

	.social-nav{
		margin:0;
		margin-bottom:0;
		li{
			list-style-type: none;
			display:inline-block;
			margin-right:1em;
			margin-bottom:0;
		}
	}

	.email-signup{
		.label,
		.signup{
			display:inline-block;
			vertical-align:middle;
			//width:48%;
			@media only screen and ($bp-smaller-than-tablet){
				width:100%;
			}
		}

		.label{
			@include brandon-black;
			font-size:1.6em;
			text-transform:uppercase;
			margin-right:1em;
			
		}

		.signup{
			width:20%;
			min-width:220px;
			//padding:0 10px;
			@media only screen and (max-width:850px){
				width:95%;
				margin:1em 0;
			}

			input{
				// padding:0;
				// line-height: normal;
				padding:0 10px;
				//width:30%;
				@media only screen and ($bp-smaller-than-tablet){
					width:85%;
				}
			}

			input,
			button{
				float:left;
			}

			button{
				width:25px;
				height:26px;
				//float:left;
				//height:26px;
			}
			input::-webkit-input-placeholder {
			    @include brandon-black;
			      color:$title_black;
			      text-transform:capitalize;
			    }

		    input::-moz-placeholder {
		        @include brandon-black;
		        color:$title_black;
		        text-transform:capitalize;
		    }

		     input:-ms-input-placeholder {
		        @include brandon-black;
		        color:$title_black;
		        text-transform:capitalize;
		    }

		     input:-moz-placeholder {
		        @include brandon-black;
		        color:$title_black;
		        text-transform:capitalize;
		    }

		     input::webkit-input-placeholder {
		        @include brandon-black;
		        color:$title_black;
		        text-transform:capitalize;
		    }
		}
	}

	.hashtag{
		@include brandon-black;
		font-size:1.6em;
		text-transform:uppercase;
		margin-right:1em;

	}

	.hashtag,
	.social-nav{
		display:inline-block;
		vertical-align:middle;
	}

	.social-nav{
		li{
			a{
				font-size:1.6em;
			}
		}
	}

	.social{
		text-align: right;
		@media only screen and ($bp-smaller-than-desktop){
			text-align:left;
		}
	}

}

.sub-title{
	font-size:1.2em;
	text-transform:uppercase;
	color:$title_black;
	@include brandon-black;
}