//__ General

img{
  max-width:100%;
  height:auto;
}

.is_rounded{
  border-radius:15px;
  img{
    border-radius:15px;
  }
}

.left_rounded{
  border-radius:15px 0 0 15px;
  img{
    border-radius:15px 0 0 15px;
  }
}
.right_rounded{
  border-radius:0 15px 15px 0;
  img{
    border-radius:0 15px 15px 0;
  }
}

.is_clipped{

}

.cta-link{
  @include brandon-black;
  text-transform:uppercase;
  font-size:1.2em;
  color:$periwinkle;
  // padding-right:20px;
  // background-image:url('img/arrow.svg');
  // background-repeat:no-repeat;
  // background-position:center 95%;
  &:hover,
  &:active,
  &:focus{
    color:$mint;
    text-decoration:underline;
  }
}
.border-wrap{
  position:relative;
  overflow: hidden;
  img{
    display:block;
  }
}

.gradient-line{
  height:15px;
  position:absolute;
  bottom:-15px;
  z-index: 100;
  width:100%;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#50e3c2+0,ffffff+100&1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(80,227,194,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(80,227,194,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(80,227,194,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50e3c2', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.border{
  height: 10px;
  position: absolute;
  right:0;
  bottom: 0;
  width: 100%;
  z-index: 5;
  background-color:$periwinkle;
}

.has_gradient{
  background: rgba(187,203,255,1);
  background: -moz-linear-gradient(left, rgba(187,203,255,1) 0%, rgba(234,240,255,1) 60%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(187,203,255,1)), color-stop(60%, rgba(234,240,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(187,203,255,1) 0%, rgba(234,240,255,1) 60%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(187,203,255,1) 0%, rgba(234,240,255,1) 60%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(187,203,255,1) 0%, rgba(234,240,255,1) 60%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(187,203,255,1) 0%, rgba(234,240,255,1) 60%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbcbff', endColorstr='#ffffff', GradientType=1 );
}

.fixed{
  position:fixed;
  top:0;
  z-index: 100;
  width:100%;
}

.has_border{
  border-bottom-width:5px;
  border-bottom-style:solid;
  &.periwinkle{
    border-bottom-color:$periwinkle;
  }
}

.separator{

  padding:4em 15px 4em 0 ;
  margin:0 15px 0 0;
  // background-repeat-y:no-repeat;
  // background-repeat-x:repeat;
  background-repeat:repeat-x;
  height:50px;
  background-position:center center;
  background-image:url('img/separator.svg');
  @media only screen and ($bp-smaller-than-mobile){
    width:95%;
    margin:0 auto;
  }
  :after{
    content:'';
  }
}

.page-intro{
  font-family:$asap;
  font-size:2.4em;
  color:$periwinkle;
  margin:20px 0;
}

.post-title,
.post-subtitle{
  margin:0;
}

main.inner-content{
  margin-top:5em;
  @media only screen and ($bp-smaller-than-tablet){
    margin-top:10em;
  }
}

main{
  min-height:700px;
}

.autocomplete-suggestions{
  font-size:1.5em;
  @include brandon-black;
}

.social-nav{
  li{
    &:hover,
    &:focus,
    &:active{
      i{
        color:$mint;
      }
    }
  }
}

//__ Homepage/City Specific Landing page

.banner{
  height:400px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center center;
  position:relative;
  .wrap{
    display:table;
    height:100%;
    width:100%;
    text-align:center;
    .content{
      display:table-cell;
      vertical-align:middle;
    }
  }

  .banner-subtitle{
    color:$white;
    @include brandon-black;
    font-size:1.6em;
  }
  .gateway{
    background-color:$white;
    width:60%;
    margin:0 auto;
    padding:1em;
    border-radius:10px;
    color:$title_black;
    text-transform:uppercase;
    font-size:1.6em;
    @include brandon-black;
    @media only screen and (max-width:1300px){
      width:80%;
    }
    @media only screen and (max-width:1000px){
      width:90%;
    }
    @media only screen and (max-width:950px){
      //text-align:left;
    }

    .gateway-item{
      display:inline-block;
      width:43%;
      vertical-align: middle;
        @media only screen and (max-width:650px){
         width:90%;
         margin:0 auto;
      }
    }

    .citysearch{
      span.arrow{
        border-bottom:2px solid $title_black;
        margin-left:-4px;
        svg{
          transform:rotate(90deg);
          width:12px;
          height:12px;
          
        }

      }
      ul{
        margin-bottom:0;
        width:80%;
        @media only screen and (max-width:950px){
          width:75%;
        }
         @media only screen and ($bp-smaller-than-tablet){
          width:70%;
        }
          li{
            position:relative;
            list-style-type: none;
            margin-bottom:0;
          }
      }
      .sub-menu{
        width:100%;
        list-style-type: none;
        position:absolute;
        left:-999999px;
        margin:0;
        padding:1em;
        //padding-top:2em;
        //width:250px;
        background:white;
        position:absolute;
        z-index: 120;
        border:2px solid $periwinkle;
        li{
          //font-size:1.2em;
          margin-bottom:.625em;
          text-transform:uppercase;
          @include brandon-black;
          a{
            color:$periwinkle;
            &:hover,
            &:active,
            &:focus{
              color:$mint;
              text-decoration:underline;
            }
          }
        }
        .city-wrap{
          display:inline-block;
          vertical-align: top;

          width:45%;
          margin-right:1%;
          text-align:left;
          @media only screen and (max-width:950px){
            width:95%

          }

        }
      }

      &:hover,
      &:active,
      &:focus{
        .sub-menu{
          left:0;
        }
      }
    }

    .break{
      width:10%;
      text-align: center;
      display:inline-block;
      @media only screen and (max-width:650px){
        width:90%;
        margin:2em auto;
      }
    }

    #banner-searchform{
      input,
      button{
        display:inline-block;
        float:left;
      }

      input{
        width:89%;
      }
      button{
      width:9%;
      border:none;
      box-shadow:none;
      padding:0;
      height:20px;
        svg{
          height:20px;
          width:20px;
        }
      }
    }

    input{
      border:0;
      border-bottom:2px solid $title_black;
      line-height:normal;
      padding:0 10px;
      width:92%;
      height:initial;
      &:focus,
      &:active,
      &:hover{
        + .arrow svg{
          .triangle{
            stroke:$mint;
          }
        }
      }
    }

    input::-webkit-input-placeholder {
    @include brandon-black;
      color:$title_black;
      text-transform:uppercase;
    }

    input::-moz-placeholder {
        @include brandon-black;
        color:$title_black;
        text-transform:uppercase;
    }

     input:-ms-input-placeholder {
        @include brandon-black;
        color:$title_black;
        text-transform:uppercase;
    }

     input:-moz-placeholder {
        @include brandon-black;
        color:$title_black;
        text-transform:uppercase;
    }

     input::webkit-input-placeholder {
        @include brandon-black;
        color:$title_black;
        text-transform:uppercase;
    }
  }
}

$bubble_size: 70px;
$bubble_size2x: $bubble_size * 2;

.bubble-wrap{
  //Tee hee
  position:relative;
  // @media only screen and ($bp-smaller-than-mobile){
  //   display:none;
  // }
}

.cta-bubble{
  position:absolute;
  background-color:$periwinkle;
  top:0;
  right:2em;
  border-radius: 0 0 $bubble_size2x $bubble_size2x;
  height:$bubble_size;
  width:$bubble_size2x;
  z-index: 105;
  @include brandon-black;
  font-size:1em;
  color:$title_black;
  text-transform: uppercase;

  &:hover,
  &:active,
  &:focus{
    background-color: $mint;
    color:white;
    text-decoration: none;
    }

  .bubble{
    text-align: center;
    width:75%;
    margin:0 auto;
    padding-top:1em;
  }
}

.city{
  @include brandon-black;
  font-size:1.2em;
  text-transform:uppercase;
  color:$periwinkle;
}

.featured-article,
.search-article{
  //padding-right:15px;
  //padding:1em;
  //margin-bottom:2rem;
  position:relative;
  cursor:pointer;
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;

  &:hover,
  &:focus,
  &:active{
    .border{
      background-color:$mint;
    }
    .post-title{
      color:$mint;
      text-decoration:underline;
    }
    .post-subtitle{
      //color:$mint;
    }
    .city{
      color:$mint;
    }
  }

  &.featured{
    padding:1em;

    .post-title,
    .post-subtitle{
      color:$white;
      margin:0;
      //margin-bottom:10px;
    }

    &:hover,
    &:focus,
    &:active{
      .border{
        background-color:$mint;
      }
      .post-title{
        color:$mint;
      }
      .post-subtitle{
        //color:$mint;
      }
      .city{
        color:$mint;
      }
    }
  }
    @media onlly screen and ($bp-smaller-than-tablet){
      padding:0;
      width:95%;
      margin:0 auto;
    }

    .post-title{
      font-size:3.4rem;
      //color:$white;
      text-transform:uppercase;
      @include brandon-black;
      margin-bottom:10px; 
      color:$title_black;
    }

    .post-subtitle{
      font-size:1.6rem;
      //color:$white;
      text-transform:initial;
      @include brandon-black;
      color:$title_black;
    }
    .content{
      position:absolute;
      bottom:1.5em;
      width:100%;

    }
  
}
//-------------------------------------------

// General Text Pages

.the-content{
  img{
    border-radius:15px;
  }
}

.related-articles{
  margin-bottom:2em;
}

//-------------------------------------------

// Search page 
.search-article{
  margin-bottom:2em;
  .post-title{
    @include brandon-black;
    font-size:2.4em;
    text-transform:uppercase;
  }
  .border-wrap{
      margin-bottom:1em; 
      height:300px; 
      background-position:center center; 
      background-size:cover;
  }
  .loc-amenities{
      margin:1em 0;
      text-align:right;
      li{
        width:35px; 
        list-style-type:none; 
        //float:left; 
        display:inline-block; 
        margin-right:1em;
      }
    }
}

.search-title,
.notfound-title{
  @include brandon-reg;
  font-size:2.4em;

  span{
    @include brandon-black;
  }
}

.notfound-search{
  width:50%;
   max-width:600px;
   min-width:280px;

  #searchform{
    //width:65%;
    //font-size:1.2em;
    text-transform:uppercase;

    input#searchHeader{
      width:70%;
      border:none;
      box-shadow:none;
      border-bottom:2px solid $periwinkle;
      padding:0 10px;
      height:30px;
      line-height:normal;
      font-size:1.6em;
      &:hover,
      &:focus,
      &:active{
         border-bottom:2px solid $mint;
          ~ button{
            border-bottom:2px solid $mint;
          //   svg{
          //   .icon{
          //     fill:$mint;
          //   }
          // }
        }
      }
    }
    button{
      width:30px;
      border:none;
      box-shadow:none;
      border-bottom:2px solid $periwinkle;
      padding:0;
      height:30px;
      border-radius:0;

       svg{
              height:15px;
              width:15px;
            }
    }
    input,
    button{
      display:inline-block;
      float:left;
    }
    input::-webkit-input-placeholder {
    @include brandon-black;
      color:$periwinkle;
      text-transform:uppercase;
    }

    input::-moz-placeholder {
        @include brandon-black;
        color:$periwinkle;
        text-transform:uppercase;
    }

     input:-ms-input-placeholder {
        @include brandon-black;
        color:$periwinkle;
        text-transform:uppercase;
    }

     input:-moz-placeholder {
        @include brandon-black;
        color:$periwinkle;
        text-transform:uppercase;
    }

     input::webkit-input-placeholder {
        @include brandon-black;
        color:$periwinkle;
        text-transform:uppercase;
    }
  }
}

//-------------------------------------------

.featured-article.featured,
.map-callout{
  height:400px;
}

.map-callout{
  display: table;
  background-repeat:no-repeat;
  //background-size:contain;
  background-size:contain;
  //background-position:15px center;
  background-position:center center;

  color:$title-black;
  &:hover,
  &:active,
  &:focus{
    color:$mint;
    text-decoration:none;
  }

  @media only screen and (max-width:1000px){
    background-size:400px 100%;
    background-position:left center;
  }


  @media only screen and ($bp-smaller-than-tablet){
    background-size:cover;
    background-position:center center;
  }
  .content{
      display:table-cell;
      vertical-align: middle;
      height:100%;
      .wrap{
        width:60%;
        margin:0 auto;
      }
    }
}

.nibble-featured,
.related-article{
  .featured-article{
    .border-wrap{
      margin-bottom:1em;
      height:300px;
    }
    .post-title{
      font-size:2.4rem;
      @include brandon-black;
      text-transform:uppercase;
    }
  }
}

// .nibble

.reviews{
  .restaurant-review{
    //position:relative;
    cursor:pointer;

    img{
      display: block;
      width:100%;
    }

    &:hover,
      &:focus,
      &:active{
      .hover{
        display:block;
        color:$title_black;
      }
      .city{
        color:$mint;
      }
    }

    .review-hover{
      position:relative;
      overflow: hidden;
      margin-bottom:10px;
      padding-bottom:100%;
      background-repeat:no-repeat; 
      background-size:cover; 
      background-position:center center;
      .wrap{
        display:table;
        width:100%;
        height:100%;
        text-align:center;
        .content{
          display:table-cell;
          vertical-align: middle;
          height:100%;

          span{
            @include brandon-black;
            font-size:1.6em;
            text-transform: uppercase;
          }
        }
      }
      
    }
    
    .hover{
      display:none;
      position:absolute;
      top:0;
      width:100%;
      height:100%;
      background-color:rgba(80,227,194, .6);
      color:$title_black;
    }
    .post-title{
      font-size:1.6em;
      @include brandon-black;
      text-transform:uppercase;
      color:$title_black;
    }
  }
}

.amenities{
  width:95%;
  //margin:0 auto;
  text-align:center;
  margin:2em auto;

  .amenity-icon{
    //width:30%;
    width:40%;
    margin:0 auto;
    border-radius:50%;
    cursor:pointer;
    svg{
      margin-bottom:.5em;
      width:100%;
      transition:all .2s ease-in-out;
      .oval{
        transition:all .2s ease-in-out;
      }
    }
    
    //at center value should be 50% of width
    //clip-path: circle(30% at center);
    &:hover,
    &:active,
    &:focus{
      //background-color:red;
      svg {
        transform:rotate(15deg);
        .oval{
          fill:$white;
        }

        .cls-3{
          fill:$mint;
        }

        .cls-1{
          fill:$mint;
        }

        .cls-2{
          fill:$mint;
        }

        #Icon .cls-2{
          fill:$white;
        }
      }
    }
  }
  ul{
    li{
      display:inline-block;
      list-style-type:none;
      text-align:center;
      //8 count width:
      //width:12%;
      //7 count width:
      width:14%;
      margin-bottom:0;
      vertical-align: middle;
      @media only screen and ($bp-smaller-than-tablet){
        width:30%;
        margin:1em 0;
      }
       @media only screen and ($bp-smaller-than-mobile){
        width:49%;
      }
    }
  }
  h2{
    margin-bottom:0;
     @media only screen and ($bp-smaller-than-mobile){
        font-size:1.6em;
        margin-bottom:1em;
      }
  }
}

.landscape{
  padding:1em;
  @media only screen and ($bp-smaller-than-tablet){
    margin-bottom:40px;
  }
  .section{
    display:inline-block;
    vertical-align: middle;
    width:48%;
    @media only screen and ($bp-smaller-than-mobile){
      width:100%;
      margin-top:1em;
    }
  }
  h2{
    text-transform:uppercase;
    @include brandon-black;
    font-size:1.6em; 
    margin:0;
  }
  // h2,.content{
  //   display:inline-block;
  //   width:48%;
  //   float:left;

  //   @media only screen and ($bp-smaller-than-tablet){
  //     width:95%;
  //     margin:0 auto;
  //   }
  // }
}

.event-button{
  width:60%;
  margin:0 auto;
  border:1px solid $periwinkle;
  border-radius:5px;
  padding:10px;

  &:active,
  &:hover,
  &:focus{
    border:1px solid $mint;
    background-color:$mint;
    a{
      color:$white;
      text-decoration:none;
    }
  }
  a{
    color:$periwinkle;
    font-size:1.2em;
    @include brandon-black;
    text-transform:uppercase;
  }
}

.email-signup{
  input{
    border:none;
    background-color:transparent;
    width:70%;
    border-bottom:1px solid $title_black;
    font-size:1.6em;
    @include brandon-black;
    text-transform:uppercase;
    padding: 0;
    margin: 0;
    height: 26px;
  }
  button{
    width:25px;
    border:none;
    border-bottom:1px solid $title_black;
    padding:0 0;
    line-height:normal;
    height:30px;
    margin-left:-4px;
    border-radius:0;

    &:hover,
    &:focus,
    &:active{
      svg{
        .icon{
          fill:$mint;
        }

        .triangle{
          stroke:$mint;
        }

      }
    }

    svg{
      width:15px;
    }
  }

  input,
  button{
    display:inline-block;
    //float:left;
  }

  input::-webkit-input-placeholder {
    @include brandon-black;
      color:$title_black;
      text-transform:uppercase;
    }

    input::-moz-placeholder {
        @include brandon-black;
        color:$title_black;
        text-transform:uppercase;
    }

     input:-ms-input-placeholder {
        @include brandon-black;
        color:$title_black;
        text-transform:uppercase;
    }

     input:-moz-placeholder {
        @include brandon-black;
        color:$title_black;
        text-transform:uppercase;
    }

     input::webkit-input-placeholder {
        @include brandon-black;
        color:$title_black;
        text-transform:uppercase;
    }
}

//__ Map Page

main.map-page{
  min-height:100vh;
  position: relative;
}

.locations{
  height:100vh;
  overflow:auto;
  background:$white;
  position:absolute;
  z-index:6;
  padding:40px 15px 600px 15px;
  width:33.33333%;
  //padding-bottom:600px;
   @media only screen and (max-width:900px){
    width:50%;
  }
  @media only screen and ($bp-smaller-than-tablet){
    padding:40px 15px 40px 15px;
    overflow:visible;
    height:auto !important;
    position:relative;
  }
  @media only screen and ($bp-smaller-than-tablet){
    width:100%;
  }

  .map-listing{
    height:200px; 
    //width:95%; 
    margin:1.5em auto;
    position:relative;
    overflow: hidden;

    &.location-active,
    &:hover,
    &:active,
    &:focus{
      .border{
        background-color:$mint;
      }
      .city,
      .post-title{
        color:$mint;
      }

      .post-title{
        text-decoration:underline;
      }
    }

     .map-listing-content,
     .listing-image{
      display:inline-block; 
      float:left; 
    }

    .post-title{
      font-size:1.6em;
      @include brandon-black;
      color:$title-black;
    }

    .map-listing-content{
      padding:15px 10px; 
      width:60%; 
      height:100%; 
      background-color:$grey; 
      display:inline-block; 
      float:left;
    }

    .listing-image{
      height:100%; 
      display:inline-block; 
      float:left; 
      height:100%; 
      width:40%; 
      background-repeat:no-repeat; 
      background-size:cover;
      background-position:center center;
      //background-image:url('<?php bloginfo('template_directory'); ?>/img/featured-image.png;
    }

    .loc-tags{
      @include brandon-black;
      font-size:1.2em;
      text-transform:uppercase;
      color:$dark_gray;
    }

    .loc-amenities{
      margin:1em 0;
      li{
        width:35px; 
        list-style-type:none; 
        //float:left; 
        display:inline-block; 
        margin-right:1em;
      }
    }
  }

}

#map{
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	//width: 150%;
  width:66.66667%;
  margin-left:33.33333%;
	z-index: 0;
	transition: width 0.4s ease-in-out;

   @media only screen and (900px){
     width:50%
  }

}

.gm-style{
  // border-radius:15px;
  // overflow:hidden;
  // position:relative;
  .gm-style-iw{
    width:350px !important;
    //height:100px !important;
    @include brandon-black;
    background-color:$white;
    position:absolute;
    top: 15px !important;
    left: 0px !important;
    border-radius:15px;
    padding:1em;
    font-size:initial;
    .list-title{
      margin:0;
      a{
        @include brandon-black;
        color:$title_black;
        &:hover,
        &:active,
        &:focus{
          color:$mint;
          text-decoration: underline;
        }
      }
      
    }
    .cta-link{
      font-size:.875em;
    }
  }
}

#iw-container {
  margin-bottom: 10px;
}

//-------------------------------------------


//Single Restaurant posts

#single-map{
  height:200px;
  border-radius:10px 10px 0 0;
}

.restaurant-data{
  background-color:$grey;
  //font-size:1.8em;
  @include brandon-black;
  margin-bottom:10px;
  padding:20px 10px;
  .loc-address{
    font-size:1.8em;
    margin-bottom:20px;
  }
  .hours, 
  .phone,
  .facebook,
  .twitter,
  .website,
  .instagram{
    font-size:1.6em;
    margin-bottom:10px;
    color:$periwinkle;
    text-transform:uppercase;

    a{
      color:$periwinkle;
      &:hover,
      &:active,
      &:focus{
        color:$mint;
        text-decoration: underline;
      }
    }

     .desktop{
    @media only screen and ($bp-smaller-than-mobile){
      display:none;
    }
  }

  .mobile{
    display:none;
    @media only screen and ($bp-smaller-than-mobile){
      display:inline-block;
    }
  }
  }
}

.loc-button{
  border-radius:10px;
  border:2px solid $periwinkle;
  width:100%;
  padding:5px 10px;
  margin-bottom:10px;
  text-align:left;
  @include brandon-black;
  font-size:1.6em;
  color:$periwinkle;

  svg{
    width:14px;
  }

  .desktop{
    @media only screen and ($bp-smaller-than-mobile){
      display:none;
    }
  }

  .mobile{
    display:none;
    @media only screen and ($bp-smaller-than-mobile){
      display:block;
    }
  }

  &:hover,
  &:active,
  &:focus{
    background-color:$periwinkle;

    svg{
      .icon{
        fill:$white;
      }
    }

    a{
      color:$white;
      text-decoration: none;
    }
  }

  a{
    padding:10px 20px;
    color:$periwinkle;
    text-transform: uppercase;
  }
}

.loc-amenities{
      margin:1em 0;
      li{
        width:35px; 
        list-style-type:none; 
        //float:left; 
        display:inline-block; 
        //margin-right:1em;
        margin:0 1rem 0 0;
      }
    }

.addthis{
 // margin-top:20px;
  .share,
  .addthis_inline_share_toolbox{
    display:inline-block;
    vertical-align: middle;
  }
  .share{
    @include brandon-black;
    text-transform:uppercase;
    font-size:1.2em;
  }
}

//-------------------------------------------

//__Accessibility
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

//Sidr

.sidr{
  background:$white;
  padding:20px;
  ul{
    li{
      list-style-type: none;
      a{
        color:$dark_gray;
        text-transform:uppercase;
        font-size:1.2em;
        padding-bottom:10px;
        @include brandon-black;
        &:hover,
        &:focus,
        &:active{
          text-decoration:underline;
        }
        ul.sub-menu{
          display:none;
          font-size:100%;
        }
        
      }
      .open i{
          font-size:1.2em;
        }
    }
  }
  .close{
    display:block;
    @include brandon-black;
    color:$periwinkle;
    font-size:1.6em;
    text-transform:uppercase;
    cursor:pointer;
    margin:2em 0;

    &:hover,
    &:active,
    &:focus{
      color:$mint;
    }
  }
  .social-nav{
    margin:2em 0;

    li{
      display:inline-block;
      margin-right:1em;
    }
  }
}

//__WordPress Core

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

p img.alignnone {
    margin: 5px 20px 20px 0;
}

p img.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

p img.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

p img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}