//__ General

img{
  max-width:100%;
  height:auto;
}

.is_rounded{
  border-radius:15px;
  img{
    border-radius:15px;
  }
}

.left_rounded{
  border-radius:15px 0 0 15px;
  img{
    border-radius:15px 0 0 15px;
  }
}
.right_rounded{
  border-radius:0 15px 15px 0;
  img{
    border-radius:0 15px 15px 0;
  }
}

.is_clipped{

}

.cta-link{
  @include brandon-black;
  text-transform:uppercase;
  font-size:1.2em;
  color:$periwinkle;
  // padding-right:20px;
  // background-image:url('img/arrow.svg');
  // background-repeat:no-repeat;
  // background-position:center 95%;
  &:hover,
  &:active,
  &:focus{
    color:$mint;
    text-decoration:underline;
  }
}
.border-wrap{
  position:relative;
  overflow: hidden;
  img{
    display:block;
  }
}

.gradient-line{
  height:15px;
  position:absolute;
  bottom:-15px;
  z-index: 100;
  width:100%;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#50e3c2+0,ffffff+100&1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(80,227,194,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(80,227,194,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(80,227,194,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50e3c2', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.border{
  height: 10px;
  position: absolute;
  right:0;
  bottom: 0;
  width: 100%;
  z-index: 5;
  background-color:$periwinkle;
}

.has_gradient{
  background: rgba(187,203,255,1);
  background: -moz-linear-gradient(left, rgba(187,203,255,1) 0%, rgba(234,240,255,1) 60%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(187,203,255,1)), color-stop(60%, rgba(234,240,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(187,203,255,1) 0%, rgba(234,240,255,1) 60%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(187,203,255,1) 0%, rgba(234,240,255,1) 60%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(187,203,255,1) 0%, rgba(234,240,255,1) 60%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(187,203,255,1) 0%, rgba(234,240,255,1) 60%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbcbff', endColorstr='#ffffff', GradientType=1 );
}

.fixed{
  position:fixed;
  top:0;
  z-index: 100;
  width:100%;
}

.has_border{
  border-bottom-width:5px;
  border-bottom-style:solid;
  &.periwinkle{
    border-bottom-color:$periwinkle;
  }
}

.separator{

  padding:4em 15px 4em 0 ;
  margin:0 15px 0 0;
  background-repeat-y:no-repeat;
  background-repeat-x:repeat;
  height:50px;
  background-position:center center;
  background-image:url('img/separator.svg');
  @media only screen and ($bp-smaller-than-mobile){
    width:95%;
    margin:0 auto;
  }
  :after{
    content:'';
  }
}

.page-intro{
  font-family:$asap;
  font-size:2.4em;
  color:$periwinkle;
  margin:20px 0;
}

.post-title,
.post-subtitle{
  margin:0;
}

main.inner-content{
  margin-top:5em;
}

//__ Homepage/City Specific Landing page

.banner{
  height:400px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center center;
  position:relative;
  .wrap{
    display:table;
    height:100%;
    width:100%;
    text-align:center;
    .content{
      display:table-cell;
      vertical-align:middle;
    }
  }

  .banner-subtitle{
    color:$white;
    @include brandon-black;
    font-size:1.6em;
  }
  .gateway{
    background-color:$white;
    width:60%;
    margin:0 auto;
    padding:1em 0;
    border-radius:10px;
  }
}

$bubble_size: 70px;
$bubble_size2x: $bubble_size * 2;

.bubble-wrap{
  //Tee hee
  position:relative;
}

.cta-bubble{
  position:absolute;
  background-color:$periwinkle;
  top:0;
  right:2em;
  border-radius: 0 0 $bubble_size2x $bubble_size2x;
  height:$bubble_size;
  width:$bubble_size2x;
  z-index: 105;
  .bubble{
    text-align: center;
    width:95%;
    margin:0 auto;
    padding-top:1em;
  }
}

.city{
  @include brandon-black;
  font-size:1.2em;
  text-transform:uppercase;
  color:$periwinkle;
}

.featured-article,
.search-article{
  //padding-right:15px;
  //padding:1em;
  //margin-bottom:2rem;
  position:relative;

  &.featured{
    padding:1em;

    .post-title,
    .post-subtitle{
      color:$white;
      margin:0;
      //margin-bottom:10px;
    }

    .city{
      //color:$white;
    }
  }
    @media onlly screen and ($bp-smaller-than-tablet){
      padding:0;
      width:95%;
      margin:0 auto;
    }

    .post-title{
      font-size:3.4rem;
      //color:$white;
      text-transform:uppercase;
      @include brandon-black;
    }

    .post-subtitle{
      font-size:1.6rem;
      //color:$white;
      text-transform:uppercase;
      @include brandon-black;
    }
    .content{
      position:absolute;
      bottom:1.5em;
      width:100%;

    }
  
}
//-------------------------------------------

// General Text Pages

.the-content{
  img{
    border-radius:15px;
  }
}

.related-articles{
  margin-bottom:2em;
}

//-------------------------------------------

// Search page 
.search-article{
  margin-bottom:2em;
  .post-title{
    @include brandon-black;
    font-size:2.4em;
    text-transform:uppercase;
  }
  .border-wrap{
      margin-bottom:1em; 
      height:300px; 
      background-position:center center; 
      background-size:cover;
  }
  .loc-amenities{
      margin:1em 0;
      li{
        width:35px; 
        list-style-type:none; 
        float:left; 
        display:inline-block; 
        margin-right:1em;
      }
    }
}

//-------------------------------------------

.featured-article.featured,
.map-callout{
  height:400px;
}

.map-callout{
  background-repeat:no-repeat;
  background-size:contain;
  background-position:15px center;

}

.nibble-featured,
.related-article{
  .featured-article{
    .border-wrap{
      margin-bottom:1em;
      height:300px;
    }
    .post-title{
      font-size:2.4rem;
      @include brandon-black;
      text-transform:uppercase;
    }
  }
}



.reviews{
  .restaurant-review{
    //position:relative;
    cursor:pointer;

    img{
      display: block;
    }

    .review-hover{
      position:relative;
      overflow: hidden;
      margin-bottom:10px;
      .wrap{
        display:table;
        width:100%;
        height:100%;
        text-align:center;
        .content{
          display:table-cell;
          vertical-align: middle;
          height:100%;

          span{
            @include brandon-black;
            font-size:1.6em;
            text-transform: uppercase;
          }
        }
      }
      &:hover,
      &:focus,
      &:active{
      .hover{
        display:block;
      }
      
      }
    }
    
    .hover{
      display:none;
      position:absolute;
      top:0;
      width:100%;
      height:100%;
      background-color:rgba(80,227,194, .6);
    }
    .post-title{
      font-size:2.4rem;
      @include brandon-black;
      text-transform:uppercase;
    }
  }
}

.amenities{
  width:95%;
  //margin:0 auto;
  text-align:center;
  margin:2em auto;

  .amenity-icon{
    width:30%;
    margin:0 auto;
    border-radius:50%;
    cursor:pointer;
    svg{
      margin-bottom:.5em;
      .oval{
        transition:all .2s ease-in-out;
      }
    }
    
    //at center value should be 50% of width
    //clip-path: circle(30% at center);
    &:hover,
    &:active,
    &:focus{
      //background-color:red;
      svg {

        .oval{
          fill:$white;
        }
      }
    }
  }
  ul{
    li{
      display:inline-block;
      list-style-type:none;
      text-align:center;
      //8 count width:
      //width:12%;
      //7 count width:
      width:14%;
      margin-bottom:0;
      @media only screen and ($bp-smaller-than-tablet){
        width:30%;
      }
       @media only screen and ($bp-smaller-than-mobile){
        width:49%;
      }
    }
  }
  h2{
    margin-bottom:0;
     @media only screen and ($bp-smaller-than-mobile){
        font-size:1.6em;
        margin-bottom:1em;
      }
  }
}

.landscape{
  padding:1em;
  h2{
    text-transform:uppercase;
    @include brandon-black;
    font-size:2.4em; 
    margin:0;
  }
  h2,.content{
    display:inline-block;
    width:48%;
    float:left;

    @media only screen and ($bp-smaller-than-tablet){
      width:95%;
      margin:0 auto;
    }
  }
}

.event-button{
  width:95%;
  margin:0 auto;
  border:1px solid $periwinkle;
  a{
    padding:5px 10px;
  }
}

.email-signup{
  input{
    border:none;
    border-bottom:1px solid $title_black;
  }

  input,
  button{
    display:inline-block;
  }
}

//__ Map Page

main.map-page{
  min-height:100vh;
}

.locations{
  height:100vh;
  overflow:auto;
  background:$white;
  position:absolute;
  z-index:6;
  padding:0 15px 600px 15px;
  padding-bottom:600px;
  @media only screen and ($bp-smaller-than-tablet){
    padding:0 15px 0 15px;
  }

  .map-listing{
    height:200px; 
    width:95%; 
    margin:1.5em auto;
    position:relative;
    overflow: hidden;

     .map-listing-content,
     .listing-image{
      display:inline-block; 
      float:left; 
    }

    .map-listing-content{
      padding:15px 10px; 
      width:60%; 
      height:100%; 
      background-color:$grey; 
      display:inline-block; 
      float:left;
    }

    .listing-image{
      height:100%; 
      display:inline-block; 
      float:left; 
      height:100%; 
      width:40%; 
      background-repeat:no-repeat; 
      background-size:cover;
      background-position:center center;
      //background-image:url('<?php bloginfo('template_directory'); ?>/img/featured-image.png;
    }

    .loc-tags{
      @include brandon-black;
      font-size:1.6em;
      text-transform:uppercase;
      color:$dark_gray;
    }

    .loc-amenities{
      margin:1em 0;
      li{
        width:35px; 
        list-style-type:none; 
        float:left; 
        display:inline-block; 
        margin-right:1em;
      }
    }
  }

}

#map{
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	//width: 150%;
  width:66.66667%;
  margin-left:33.33333%;
	z-index: 0;
	transition: width 0.4s ease-in-out;
}

.gm-style{
  // border-radius:15px;
  // overflow:hidden;
  // position:relative;
  .gm-style-iw{
    width:350px !important;
    //height:100px !important;
    @include brandon-black;
    background-color:$white;
    position:absolute;
    top: 15px !important;
    left: 0px !important;
    border-radius:15px;
    padding:1em;
    .list-title{
      @include brandon-black;
      font-size:2.4em;
      margin:0;
    }
  }
}

#iw-container {
  margin-bottom: 10px;
}

//-------------------------------------------


//Single Restaurant posts

#single-map{
  height:200px;
}

.restaurant-data{
  background-color:$grey;
  font-size:1.8em;
  @include brandon-black;
  margin-bottom:10px;
  padding:20px 10px;
}

.loc-button{
  border-radius:10px;
  border:2px solid $periwinkle;
  width:100%;
  margin-bottom:10px;
  text-align:left;
  @include brandon-black;
  font-size:1.8em;
  color:$periwinkle;

  .desktop{
    @media only screen and ($bp-smaller-than-mobile){
      display:none;
    }
  }

  .mobile{
    display:none;
    @media only screen and ($bp-smaller-than-mobile){
      display:block;
    }
  }

  &:hover,
  &:active,
  &:focus{
    background-color:$periwinkle;

    a{
      color:$white;
      text-decoration: none;
    }
  }

  a{
    padding:10px 20px;
    color:$periwinkle;
    text-transform: uppercase;
  }
}

.loc-amenities{
      margin:1em 0;
      li{
        width:35px; 
        list-style-type:none; 
        float:left; 
        display:inline-block; 
        margin-right:1em;
      }
    }

//-------------------------------------------

//__Accessibility
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

//__WordPress Core

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

p img.alignnone {
    margin: 5px 20px 20px 0;
}

p img.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

p img.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

p img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}